body {
    font-family: Helvetica, sans-serif;
    background-color: #222222;
    color: #89CFF0;
}

.title {
    text-align: center;
    border-bottom: 5px solid #89CFF0;
    padding: 20px;
}

.fragments-table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 60%;
    font-size: 1.2rem;
}

.fragments-table td, .fragments-table th {
    border: 1px solid #ddd;
}

.fragments-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
}

.fragments-table input[type='checkbox'] {
    accent-color: white;
}

.fragments-table input, .fragments-table select {
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    border: none;
    font-size: 1.2rem;
    background-color: #222222;
    color: #89CFF0;
}

.small-column {
    width: 5%;
}

.medium-column {
    width: 12%;
}

.align-right {
    text-align: right;
}

.last-column {
    width: 15%;
}

.total-section {
    margin: auto;
    width: 60%;
    text-align: right;
}

.bold {
    font-weight: bold;
}

.message {
    display:flex;
    width: 60%;
    height:100px;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    color: #ffcc00;
}

@media only screen and (max-width: 1200px) {
    .resize-width {
        width: 70%;
    }
}

@media only screen and (max-width: 1000px) {
    .resize-width {
        width: 80%;
    }
}

@media only screen and (max-width: 800px) {
    .resize-width {
        width: 90%;
    }
}

@media only screen and (max-width: 600px) {
    .resize-width {
        width: 100%;
    }
}